.homepageHeading {
  
  &__mainHeader {
    font-size: 7em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 1em!important;
  }

  &__callAction {
    font-size: 1.7em;
    font-weight: normal;
    margin-top: 1.5em;
  }
}