.cardOrder {

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
  }

  &__productDetails {
    display: flex;
    // border: 2px solid black;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;
    padding-top: .5em;
    padding-bottom: .5em;
    // border: 2px solid purple;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1em;
    // border: 2px solid red;
  }

  &__image {
    margin: 0 auto;
  }

  &__additional {
    width: 60%;
    margin: auto 0;
  }

  &__description {
    padding: 1em;
  }

  .buttonContainer {
    padding: 0 1em;
    width: 100%;
    &--seller {
      width: 45%;
    }
  }

  .ui.button, &__button {
    margin-bottom: .5em;
  }
}