@import '../../styles/utils/breakpoints.scss';

.inventory {
  &__title {
    text-align: center;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  &__createBtn {
    display: flex;
    justify-content: center;
    margin: 2em 0;
  }
  
  &--hideCreateBtn {
    display: none;
  }

  &__gridGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    justify-items: center;
  }
}