.orderItem {
  &__card {
    height: 100%;
  }

  &__image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#cardContainer {
  margin-bottom: 20px;
}
