@import '../../styles/utils/breakpoints.scss';

.cardProduct {
  height: 100%;
  justify-self: center;
  align-self: center;

  // @media only screen and (max-width: $mobile) {
  //   padding: 0;
  //   margin: 0 auto;
  // } 

  &__image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  &__extraContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__quantity {
    width: 125px;
  }
}