.home {
  position: relative;

  &__segment {
    background-position: center !important;
    background-size: cover !important;
  }

  &__userInactive {
    background-image: linear-gradient(#0000002d, #00000088), url("../../assets/wallpaper-1.jpg") !important;
  }

  &__userActive {
    background-image: none;
  }

  &__button {
    margin-left: 0.5em !important;
  }
}