.SingupForm {
  background-image: linear-gradient(#0000002a, #0000007a), url("../../assets/paul-melki--BvBZKXwQo8-unsplash.jpg") !important;
  background-position: center !important;
  background-size: cover !important;
}